@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ns-variable";
  src:
    url("fonts/NunitoSans-VariableFont.woff2") format("woff2"),
    url("fonts/NunitoSans-VariableFont.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
